/**
main.css

*/


.top-detail {
	height: 10px;
	width: auto;
	background-color: #0078a0;
	margin-bottom: 10px;
}

nav .top-bar{
	margin-top: 10px;
	margin-bottom:10px;
}

.logo{
	margin-left: 5px;
}
.top-bar .logo {
      background-image: url('/img/vvclogomini.jpg');
      height: 45px;
      width: 61px;
    }


.top-bar-section{
	z-index: 1;
}

.top-bar-section .right {
	top: 0;
}

.content{
	background-color: #ffffFF ;
}

.nav-seperator{
	margin-top: 5px;
	height: 20px;
	background-color: #6b6b6b;
}


#welcome-bar .panel{
	background-color:#0078a0;
	color: #ffffff;
}

#welcome-bar h2{
	color: #ffffFF;
}

.footer {
	background-color:#222222;
	color: #ffffFF;

}

.footer h4{
	color: #ffffFF;
}

.footer p{
font-size: 12px;
}

@media only screen and (min-width: 40.063em) {
.top-detail {
	height:25px;
	width: auto;
	background-color: #0078a0;
	margin-bottom: 10px;
}
.top-bar ul.title-area {
	height: 0px;
}

    .top-bar .logo {
      background-image: url('/img/vvclogo2.jpg');
      height: 102px;
      width: 390px;
    }

#main-nav {
	vertical-align: bottom;
	position
}

}